@import "../mixins.scss";
.product-card {
  border: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-basis: 0;
  padding: 10px 3px;
  @include desktop-view {
    min-width: 25%;
    margin: 0;
  }

  &__image {
    margin: 0 auto 5px;
    width: 100%;
    max-width: 280px;
  }

  &__promo {
    line-height: 50px;
    height: 50px;
    display: flex;

    color: white;
    &--onsale {
      background-color: #cc3234;
      padding: 0 15px;
      margin-right: 10px;
    }
    &--exclusive {
      background-color: #009900;
      padding: 0 15px;
      margin-right: 10px;
    }
  }

  &__info {
    display: flex;
    font-weight: bold;
    margin: 5px 0;

    &__name {
      padding: 0 5px;
      font-size: 6vw;
      @include desktop-view {
        font-size: 2vw;
      }
    }

    &__price {
      margin-left: auto;
      padding: 0 5px;
      font-size: 6vw;
      @include desktop-view {
        font-size: 2vw;
      }
    }
  }
}
